html
    head
        link(rel='stylesheet' href='Exercise2.css')
    body
        div.container
            section1
                h1 #{placeholder}
            section2
                h1 Two
            section3
                h1 Three
            section4
                h1 Four
            section5
                h1 Five