html
    head
        link(rel='stylesheet' href='index.css')
    body
        div.container
            header
                h1 #{placeholder}
            section.main
                h1 Main Section
            aside.twin
                h1 Twin Section
            footer
                h1 #{placeholder}